<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../css/about.css">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div>
            <img src="../img/mustang.jpg" alt="Your Image" class="image">
        </div>
        <div class="image__container">
            <h1>
                Дідовець Владислав. Група КІ-41. Навчаюсь в Державному університеті Інформаційно Комунікаційних Технологій за спеціальністю 123 Комп'ютерна інженерія.
                Мені подобається сфера IT й я вивчайю матеріали по мережам. Люблю автомобілі й копмп'ютерні ігри. Жанри ігор, що подобаються: шутери, симулятори, пригоди, головоломки.
            </h1>
        </div>
    </div>
</body>
</html>