<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/styles.css">
</head>
<body>
    <div class="practic__tasks">
        <div class="div__tasks">
            <a href="../practic/Сalendar Didovets KID-41/calendar/practic1.html"  class="prTask" target="_blank">
                Практична №1
            </a>
        </div>
    
        <div class="div__tasks">
            <a href="../labs/LB2/Lab2.html"  class="prTask" target="_blank">
                Практична №2
            </a>
        </div>

        <div class="div__tasks">
            <a href="../labs/lb1/lab1.html"  class="prTask" target="_blank">
                Практична №3
            </a>
        </div>
        <div class="div__tasks">
            <a href="../practic/task3/task3.html"  class="prTask task4" target="_blank">
                Практична №4
            </a>
        </div>
        <div class="div__tasks">
            <a href="../practic/YouTube Didovets KID-41/youtube.html"  class="prTask" target="_blank">
                Практична №5
            </a>
        </div>
        <div class="div__tasks">
            <a href="../practic/Pr №4/pr4.html"  class="prTask" target="_blank">
                Практична №6
            </a>
        </div>
        <div class="div__tasks">
            <a href="../index.html"  class="prTask" target="_blank">
                Практична №7
            </a>
        </div>
    </div>
</body>
</html>